<div class="container">
    <h2>The home page is under construction.</h2>
    <% if (isLogined) { %>
        <h2>Welcome, <%= user_name %></h2>
    <% }else{%> 
        <h2>Please login.</h2>
    <% } %> 
</div>