<div class="container">
    <h2>Sign Up</h2>
    <div class="row">

        <form class="col s12" action="/register" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" name="username" id="username" type="text" class="validate"> <label for="username">Name</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate"> <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" class="validate"> <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action" value="submit">
                    Submit <i class="material-icons right">send</i>
                </button>
                </div>
            </div>
        </form>
        <div class="container signin">
            <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
    </div>
    
</div>